.user-container {
  padding: 20px 40px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-container:hover {
  background-color: #f0f2f5;
}

.selected-chat {
  background-color: #f0f2f5;
}
